/* General */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-family: sans-serif;
    background-color: #ececec;
}

p {
    margin-bottom: 1rem;
}

hr {
    height: 0;
    margin: 1rem 0;
    overflow: hidden;
    border-top: 1px solid #0000001f;
}

/* Navbar */
.navbar {
    background-image: url(./assets/header-bg.jpg);
    min-height: 500px;
    background-size: cover;
    background-position-y: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 1024px) {
    .navbar {
        background-position-y: 590px;
    }
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

/* Results */
#results {
    max-width: 1300px;
    margin: 0 auto;
    z-index: 2;
}

#results .main-title {
    margin: 24px 0;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin: 1rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
}

.card .card-title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card .card-body .list {
    display: block;
}

.card ul {
    margin-left: 1rem;
}

.card .btn:not(.btn-block) {
    margin: 16px 3px;
}

.card .btn-auto {
    margin: 16px auto 0;
}

.modal-content ul li,
.card-body ul li {
    margin: 5px 0;
}

/* Buttons */
.btn {
    display: block;
    cursor: pointer;
    padding: 10px;
    margin-top: 16px;
    text-align: center;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-block {
    max-width: 100%;
    width: 100%;
    margin-top: 24px;
}

/* Details */
.card.card-details {
    padding: 1rem;
}

.title-details {
    padding: 8px 0 24px;
    text-align: center;
}

.group-btn {
    display: flex;
    flex-wrap: wrap;
}

.group-btn .btn {
    margin: 8px;
}

/* Modal */
.modal {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: #0000006f;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal .modal-dialog {
    max-width: 50%;
    width: auto;
    margin: 1.75rem auto;
    position: relative;
}

.modal .modal-dialog .modal-content {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    padding: 24px;
}

.modal .modal-dialog .modal-content .modal-title {
    text-align: center;
    margin-bottom: 1rem;
}

.modal .modal-dialog .modal-content .close-modal {
    display: flex;
    justify-content: flex-end;
}

.modal .modal-dialog .modal-content .icon-close {
    width: 25px;
    height: 25px;
    padding: 5px;
}

/* Loader */
.loader {
    display: none;
    justify-content: center;
    margin-top: 20px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: red;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Search */
.search-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 20px auto 0;
    z-index: 1;
}

.search-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    outline: none;
    width: 70%;
}

.search-form .btn-search {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    width: 30%;
}

.search-results {
    width: 400px;
    text-align: center;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 574px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    margin: 10px 0;
}

.search-results a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 5px 0;
}

.search-results a:hover {
    text-decoration: none;
    background-color: #d5d5d5;
}